<!doctype html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">
        <title>Aplication Spring</title>
        <link href="../static/css/boostrap.css" rel="stylesheet" th:href="@{/css/boostrap.css}">
      
    </head>
    <body>
        <div class="container">
            <br>
            <h2 th:if="${list.isEmpty()}">
                no hay empleados a listar
            </h2>
            <div th:if="!${list.isEmpty()}">
                <h2>
                    mantenimiento de empleados
                </h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Direccion</th>
                        <th>Telefono</th> 
                        <th>Editat</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </body>
</html>